<!DOCTYPE html>
<html>
<head>
    <title>Buscar Filme</title>
</head>
<body>
    <h1>Buscar Filme</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome_filme">Nome do Filme:</label>
        <input type="text" id="nome_filme" name="nome_filme" required>
        
        <button type="submit">Buscar</button>
    </form>
    
    {% if mensagem_erro %}
        <p>{{ mensagem_erro }}</p>
    {% endif %}
    
    <a href="{% url 'lista_filmes' %}">Voltar para a Lista de Filmes</a>
</body>
</html>